$my-font-family: 'Lato', sans-serif;
$top-nav-brand-color: #0072bb;
$top-contact-bar-color: #fff;
$navbar-mob-open-bg: rgb(248, 248, 248);
$navbar-nav-toggle-color: #262729;
$navbar-nav-toggle-transition-duration: 0.3s;
$navbar-default-bg: transparent;
$navbar-mob-collapse-bg: #f2f3f4;
$navbar-mob-collapse-shadow-color: rgba(0, 0, 0, 0.59);
$navbar-mob-items-border-color: #fff;
$navbar-mob-items-active-color: $top-nav-brand-color;
$navbar-mob-items-dropdown-contents-bg: #666;
$navbar-mob-items-dropdown-contents-color: #fff;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $top-nav-brand-color;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: transparent;
$navbar-default-toggle-border-color: transparent;
